
# dependencies
/dist
/node_modules
/.pnp
/Users
/logs
.pnp.js



# misc
.DS_Store
# .env
.env.local
.env.test.local
.env.production.local

npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
